.spacer {
    flex: 1 1 auto;
}

.my-drawer-container {
    height: 90vh;
}

.sidenav {
    padding: 1rem;
    width: 10rem;
    height: 100%;
}

.mousePointer {
    cursor: pointer;
}

.img-fluid {
    max-height: 70% !important;
    margin-right: 1% !important;
    margin-left: 1% !important;
}