<mat-toolbar color="primary">
    <mat-icon (click)="drawer.toggle()" class="mousePointer">menu</mat-icon>
    <img class="img-fluid" src="assets/images/InfinityQuiz_Logo.png">
    <span class="spacer"></span>
    <!-- <mat-icon>favorite</mat-icon> -->
    <mat-icon *ngIf="gameStarted" (click)="openBottomSheet()">settings</mat-icon>
</mat-toolbar>

<mat-drawer-container class="my-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
        <app-side-nav></app-side-nav>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>