<div class="container">
    <div class="row bg-faded">
        <div class="col">
            <div class="card card-body h-100 justify-content-center">
                I have a little bit.
            </div>
        </div>
    </div>
    <div class="row bg-faded">
        <div class="col">
            <div class="card card-body h-100 justify-content-center">
                I have a lot of content that wraps on multiple lines..
            </div>
        </div>
        <div class="col">
            <div class="card card-body h-100 justify-content-center">
                I have a line of content.<br> And another line here..
            </div>
        </div>
        <div class="col">
            <div class="card card-body h-100 justify-content-center">
                I have a little bit.
            </div>
        </div>
    </div>
</div>