<mat-list role="list">

    <div class="my-sidenav-btn" routerLink="/zen">
        <div class="row-fluid">
            <div class="col">
                <div class="row-fluid">
                    <div class="col">
                        <mat-icon>self_improvement</mat-icon>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col">
                        <p>Zen Mode</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="my-sidenav-btn" routerLink="/time">
        <div class="row-fluid">
            <div class="col">
                <div class="row-fluid">
                    <div class="col">
                        <mat-icon>alarm</mat-icon>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col">
                        <p>Against Time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="my-sidenav-btn" routerLink="/multiplayer">
        <div class="row-fluid">
            <div class="col" routerLink="/multiplayer">
                <div class="row-fluid">
                    <div class="col">
                        <mat-icon>group</mat-icon>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col">
                        <p>With Friend</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-list>