.my-options {
    padding: 0 2rem 0 2rem;
}

.my-card {
    border: 0px;
    font-size: 1.25rem;
    background-color: rgb(230, 230, 230);
    color: inherit;
}

.correct {
    background-color: rgb(150, 235, 66);
}

.wrong {
    background-color: rgb(207, 76, 76);
}

.alert {
    margin-bottom: 0px;
}

.my-para {
    margin-bottom: 0px;
    padding: 0.5rem 0 0.5rem 0;
}